.btnstyles{

    margin-left: 30px;

    margin-top: 10px;

   

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;


    
    
}

.rowStyle{

    margin-left: 30px;

    margin-top: 40px;

}

.imageStyles{

   margin: 10px;
}

.divStyle{
    float: left; 
    margin: 20px;
}

.moveGif{

    height: 300px;
    width: 300px;
    
    cursor: pointer;
}

#rating {
    color: red;
    font: bolder;
}