.btnstyles{

    margin-left: 30px;

    margin-top: 10px;

   

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;


    
    
}

.rowStyle{

    margin-left: 30px;

    margin-top: 40px;

}